<h1 id="logo">Budget</h1>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 sidebar">
      <div class="sidebar-content">
        <ul class="nav flex-column">
          <li class="nav-item d-flex">
            <div id="hov-btn"></div>
            <a class="nav-link" href="#"
              ><span class="material-symbols-outlined align-middle">
                grid_view </span
              ><span class="ms-1 mx-1">Dashboard</span></a
            >
          </li>
          <li class="nav-item nav-log">
            <div class="log-detials  d-flex">
              <img src="../../assets/image.jpg"/>
              <div>
                <p id="log-name">Catherine</p>
                <p id="log-num">+91 9876543210</p>
              </div>
            </div>
            <button><span class="material-symbols-outlined">
              logout
              </span>logout</button>
          </li>
        </ul>
      </div>
    </div>
    <!-- Main Content -->
    <div class="col-md-9 main-content">
      <h1 id="dashb">Dashboard</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <div class="d-flex justify-content-center align-items-baseline pending">
        <span class="material-symbols-outlined" id="info"> info </span>
        <p>You Have <span> 32 Support Request Pending for Response</span></p>
        <a href="#">View</a>
      </div>
      <div class="cards my-3 container">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="background: #005EFF;">
              <h1>Total Users</h1>
              <p class="number">1,567</p>
              <p class="date">
                <span
                  >2.36%<span class="material-symbols-outlined">
                    arrow_upward
                  </span> </span
                >Since last month
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="background: #4A9C88;
            ">
              <h1>Savings Account</h1>
              <p class="number">1,567</p>
              <p  class="date">
                <span
                  >2.36%<span class="material-symbols-outlined">
                    arrow_upward
                  </span></span
                >Since last month
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="background: #005EFF;">
              <h1>Savings Account</h1>
              <p class="number">1,567</p>
              <p  class="date">
                <span
                  >2.36%<span class="material-symbols-outlined">
                    arrow_upward
                  </span> </span
                >Since last month
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="background: #4A9C88;
            ">
              <h1>Savings Account</h1>
              <p class="number">1,567</p>
              <p  class="date">
                <span
                  >2.36%<span class="material-symbols-outlined">
                    arrow_upward
                  </span> </span
                >Since last month
              </p>
            </div>
          </div>
        </div>
      </div>
      <h1 id="recent">Recently Active Users</h1>
      <div class="table-section">
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th scope="col">USER ID/NAME</th>
              <th scope="col">PHONE NUMBER</th>
              <th scope="col">TRANSACTION CATAGORY</th>
              <th scope="col">TRANSACTION AMOUNT</th>
              <th scope="col">ACCOUNT TYPE</th>
              <th scope="col">BALANCE AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Monica James<br /><span>ID 123456789</span></th>
              <td>+91 9876543210</td>
              <td>Income<br /><span>Salary</span></td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td class="view-link"><a href="#">view</a></td>
            </tr>
            <tr>
              <th scope="row">Samantha<br /><span>ID 123456789</span></th>
              <td>+91 9876543210</td>
              <td>Income<br /><span>Salary</span></td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td class="view-link"><a href="#">view</a></td>
            </tr>
            <tr>
              <th scope="row">Catherine<br /><span>ID 123456789</span></th>
              <td>+91 9876543210</td>
              <td>Income<br /><span>Salary</span></td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td class="view-link"><a href="#">view</a></td>
            </tr>
            <tr>
              <th scope="row">Monica James<br /><span>ID 123456789</span></th>
              <td>+91 9876543210</td>
              <td>Income<br /><span>Salary</span></td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td class="view-link"><a href="#">view</a></td>
            </tr>
            <tr>
              <th scope="row">Ileana Sam<br /><span>ID 123456789</span></th>
              <td>+91 9876543210</td>
              <td>Income<br /><span>Salary</span></td>
              <td>$200</td>
              <td>Savings</td>
              <td>$6000</td>
              <td class="view-link"><a href="#">view</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button id="view-all">view All</button>
    </div>
  </div>
</div>
